<div class="header">
  <div class="wrapper">
    <div class="row">
      <div class="col">
        <h1 class="header-title">Be part of our mission</h1>
        <div class="header-description">We’re looking for passionate people to join us on our mission</div>
      </div>
    </div>
  </div>
</div>
<div class="wrapper">
  <div class="row align-center">
    <div class="col lg-6 centre-align posting">
      <h2>We don't have any openings for now!</h2>
      <h3>But  we will be posting soon...</h3>
    </div>
    <div class="col lg-8">
        <h3>Our Technologies</h3>
        <div class="w-layout-grid grid-logo">
          <img src="../../../assets/images/tech-odoo.svg" alt="" class="client-logo">
          <img src="../../../assets/images/tech-angular.svg" alt="" class="client-logo">
          <img src="../../../assets/images/tech-vue.svg" alt="" class="client-logo">
          <img src="../../../assets/images/tech-mongo.svg" alt="" class="client-logo">
          <img src="../../../assets/images/tech-node.svg" alt="" class="client-logo">
          <img src="../../../assets/images/tech-react.svg" alt="" class="client-logo">
          <img src="../../../assets/images/tech-xamarin.svg" alt="" class="client-logo">
          <img src="../../../assets/images/tech-laravel.svg" alt="" class="client-logo">
        </div>
    </div>
    
  </div>
</div>
<div class="section background-lite-accent">
  <div class="wrapper">
    <div class="row align-center">
      <div class="col lg-6 centre-align">
        <h2>Nothing That Fits?</h2>
        <div>Get notified about company news, updates and job offers.</div>
        <div class="form-block margin-top w-form">
          <form id="email-form-2" name="email-form-2" data-name="Email Form 2" class="job-notice-form"><input type="email" class="job-notice-email-field w-input" maxlength="256" name="email-3" data-name="Email 3" placeholder="Enter your email" id="email-3" required=""><input type="submit" value="Signup" data-wait="Please wait..." class="job-notice-button w-button"></form>
          <div class="w-form-done">
            <div>Thank you! Your submission has been received!</div>
          </div>
          <div class="w-form-fail">
            <div>Oops! Something went wrong while submitting the form.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>