<div class="header">
  <div class="wrapper">
    <div class="row">
      <div class="col">
        <h1 class="header-title">We are Altus</h1>
        <div class="header-description">Choose the right digital partner for your business. Altus always focuses on client's objective.</div>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="wrapper">
    <div class="row">
      <div class="col">
        <div class="w-layout-grid grid2x1">
          <div id="w-node-31c38b009a1d-747421ba" class="container">
            <h2>History</h2>
            <p class="section-title">We’re a software technology company based in India and Laos, founded in January 2009 by the team of professionals.</p>
            <p>Our mission is to save millions of hours of productivity wasted every day. We use modern web technologies, data integrations, and team-oriented features to empower true collaboration, knowledge sharing, and better decision making.</p>
            <a target="_blank" href="http://facebook.com/altusinfotech" class="media-link w-inline-block">
              <div class="fa-icon"></div>
            </a>
            <a target="_blank" href="#" class="media-link w-inline-block">
              <div class="fa-icon"></div>
            </a>
            <a target="_blank" href="#" class="media-link w-inline-block">
              <div class="fa-icon"></div>
            </a>
            <a target="_blank" href="#" class="media-link w-inline-block">
              <div class="fa-icon"></div>
            </a>
            <a target="_blank" href="#" class="media-link w-inline-block">
              <div class="fa-icon"></div>
            </a>
          </div>
          <div id="w-node-31c38b009a33-747421ba" class="investors">
            <h3>Our Clients</h3>
            <div class="w-layout-grid grid-logo">
              <img src="../../../assets/images/client1-rshopping.svg" alt="" class="client-logo">
              <img src="../../../assets/images/client1-ilao.svg" alt="" class="client-logo">
              <img src="../../../assets/images/client1-tpclao.svg" alt="" class="client-logo">
              <img src="../../../assets/images/client1-butterfly.svg" alt="" class="client-logo">
              <img src="../../../assets/images/client1-rotihouse.svg" alt="" class="client-logo">
              <img src="../../../assets/images/client1-acts.svg" alt="" class="client-logo">
              <img src="../../../assets/images/client1-cope.svg" alt="" class="client-logo">
              <img src="../../../assets/images/client1-ajedimsum.svg" alt="" class="client-logo">
             
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section background-lite-accent">
  <div class="wrapper">
    <div class="row align-center">
      <div class="col"><a href="#" class="margin-bottom-gutter w-inline-block w-lightbox"><img src="../../../assets/images/photo-1551434678-e076c223a692.jpeg" width="625" srcset="../../../assets/images/photo-1551434678-e076c223a692-p-500.jpeg 500w, ../../../assets/images/photo-1551434678-e076c223a692-p-1080.jpeg 1080w, ../../../assets/images/photo-1551434678-e076c223a692-p-1600.jpeg 1600w, ../../../assets/images/photo-1551434678-e076c223a692.jpeg 1950w" sizes="(max-width: 767px) 81vw, (max-width: 991px) 625px, 44vw" alt="" class="lightbox-image"><script type="application/json" class="w-json">{
"items": [
  {
    "type": "image",
    "_id": "5d00cd322bca93797774322b",
    "fileName": "5d00cd322bca93797774322b_photo-1551434678-e076c223a692.jpeg",
    "origFileName": "photo-1551434678-e076c223a692.jpeg",
    "width": 1950,
    "height": 1300,
    "fileSize": 464326,
    "url": "../../../assets/images/photo-1551434678-e076c223a692.jpeg"
  },
  {
    "type": "image",
    "_id": "5b83f39e3329765aca06f664",
    "fileName": "5cd25726bd7d8be1b9ea4543_square - big.svg",
    "origFileName": "square - big.svg",
    "width": 570,
    "height": 570,
    "fileSize": 1506,
    "url": "https://uploads-ssl.webflow.com/5cd25725bd7d8b9298ea440e/5cd25726bd7d8be1b9ea4543_square%20-%20big.svg"
  }
],
"group": "office"
}</script></a></div>
      <div class="col"><a href="#" class="margin-bottom-gutter w-inline-block w-lightbox"><img src="../../../assets/images/photo-1559077184-562609f0a10b.jpeg" width="625" srcset="../../../assets/images/photo-1559077184-562609f0a10b-p-500.jpeg 500w, ../../../assets/images/photo-1559077184-562609f0a10b-p-800.jpeg 800w, ../../../assets/images/photo-1559077184-562609f0a10b-p-1080.jpeg 1080w, ../../../assets/images/photo-1559077184-562609f0a10b-p-1600.jpeg 1600w, ../../../assets/images/photo-1559077184-562609f0a10b.jpeg 1649w" sizes="(max-width: 767px) 81vw, (max-width: 991px) 625px, 44vw" alt="" class="lightbox-image"><script type="application/json" class="w-json">{
"items": [
  {
    "type": "image",
    "_id": "5d00cd7a236f2b474e9a3528",
    "fileName": "5d00cd7a236f2b474e9a3528_photo-1559077184-562609f0a10b.jpeg",
    "origFileName": "photo-1559077184-562609f0a10b.jpeg",
    "width": 1649,
    "height": 1101,
    "fileSize": 392097,
    "url": "../../../assets/images/photo-1559077184-562609f0a10b.jpeg"
  },
  {
    "type": "image",
    "_id": "5b83f39e3329765aca06f664",
    "fileName": "5cd25726bd7d8be1b9ea4543_square - big.svg",
    "origFileName": "square - big.svg",
    "width": 570,
    "height": 570,
    "fileSize": 1506,
    "url": "https://uploads-ssl.webflow.com/5cd25725bd7d8b9298ea440e/5cd25726bd7d8be1b9ea4543_square%20-%20big.svg"
  }
],
"group": "office"
}</script></a></div>
    </div>
    <div class="row">
      <div class="col"><a href="#" class="w-inline-block w-lightbox"><img src="../../../assets/images/photo-1558095625-f882e3436125.jpeg" width="1200" srcset="../../../assets/images/photo-1558095625-f882e3436125-p-500.jpeg 500w, ../../../assets/images/photo-1558095625-f882e3436125-p-1080.jpeg 1080w, ../../../assets/images/photo-1558095625-f882e3436125-p-1600.jpeg 1600w, ../../../assets/images/photo-1558095625-f882e3436125.jpeg 1650w" sizes="(max-width: 479px) 81vw, (max-width: 767px) 88vw, 91vw" alt="" class="lightbox-image"><script type="application/json" class="w-json">{
"items": [
  {
    "type": "image",
    "_id": "5d00cd2ba38ae0725a4278aa",
    "fileName": "5d00cd2ba38ae0725a4278aa_photo-1558095625-f882e3436125.jpeg",
    "origFileName": "photo-1558095625-f882e3436125.jpeg",
    "width": 1650,
    "height": 1101,
    "fileSize": 522885,
    "url": "../../../assets/images/photo-1558095625-f882e3436125.jpeg"
  },
  {
    "type": "image",
    "_id": "5b83f39e1c3dbabd261b70cc",
    "fileName": "5cd25726bd7d8b26ffea4567_cinematic - big.svg",
    "origFileName": "cinematic - big.svg",
    "width": 840,
    "height": 443,
    "fileSize": 1512,
    "url": "https://uploads-ssl.webflow.com/5cd25725bd7d8b9298ea440e/5cd25726bd7d8b26ffea4567_cinematic%20-%20big.svg"
  }
],
"group": "office"
}</script></a></div>
    </div>
  </div>
</div>
