<div class="header">
  <div class="wrapper">
    <div class="row">
      <div class="col">
        <h1 class="header-title">Contact us</h1>
        <div class="header-description">We’re looking for passionate people to join us on our mission</div>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="wrapper">
    <div class="row-2">
      <div class="col-2 lg-6">
        <h2>Our Office:</h2>
        <p>#37, Ban Thapalanxay,</p>
        <p>Thadeua Road, Sisattanak District,</p>
        <p>Vientiane, Lao PDR.</p>
        <p><i class="fa fa-envelope"> </i> mailus@altusinfotech.com </p>
        <p><i class="fa fa-phone"> </i> +856 20580 26838 </p>
        <p>
          <a class="media-link w-inline-block" href="https://www.facebook.com/altusinfotech/"><i class="fa fa-facebook"> </i></a>
          <a class="media-link w-inline-block" href="https://www.facebook.com/altusinfotech/"><i class="fa fa-google"> </i></a>
        </p>
        <br/>
        <h3>India:</h3>
        <p>#E7, Giri Colony</p>
        <p>Sankari. Salem District</p>
        <p>Tamil Nadu, India.</p>

      </div>
      <div class="col-2 lg-6">
        <div class="contact-form-container card">
          <div class="margin-bottom">
            <h2 class="heading">Send us a message</h2>
            <p class="paragraph-small">Complete the form below so we can talk about your vision or goal and how we might help.<br></p>
          </div>
          <div class="form w-form">
            <form id="email-form" name="email-form" data-name="Email Form" autocomplete="off">
              <input type="text" class="form-field w-input" maxlength="256" name="name-2" data-name="Name 2" placeholder="Enter your name" id="name-2">
              <input type="text" class="form-field w-input" maxlength="256" name="email-2" data-name="Email 2" placeholder="Enter your email" id="email-2" required="">
              <textarea id="field-2" name="field-2" placeholder="Your message" maxlength="5000" data-name="Field 2" class="text-area w-input" cols="100%" rows="10"></textarea>
              <input type="submit" value="Send message" data-wait="Please wait..." class="button form-button w-button">
            </form>
            <div class="w-form-done">
              <div>Thank you! Your submission has been received!</div>
            </div>
            <div class="w-form-fail">
              <div>Oops! Something went wrong while submitting the form.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>